.text-weight {
  font-size: 40px;
  font-weight: 900;
}

.ul {
  display: inline-block;
  margin: 10px auto 10px auto;
  font-size: 20px;
}

.li {
  display: inline-block;
  padding: 10px 30px;
}

.menu-outline {
  background-color: yellow;
  text-align: center;
}

.padding {
  padding: 10px 0px;
}
