.table {
  border: 1px solid black;
  width: 700px;
}

.th-size {
  width: 80px;
}

.border {
  border: 1px double black;
}

.content-background {
  background-color: rgb(255, 254, 224);
}

.head-flat {
  background-color: rgb(255, 160, 122);
  color: white;
}

.title-width {
  width: 300px;
}

.writer-width {
  width: 100px;
}

.date-width {
  width: 120px;
}

.hr-margin {
  margin: 20px;
}
